

<style>
    .icon{
        border-radius: 15px;
        width: 170px;
        height: 212px;
        color: white;
        font-size: 20px;
        font-family: "museo-sans-1","museo-sans-2","helvetica","arial",sans-serif;
    }
    .hybrid{
        background-color: #76BD1D;
    }

    .sativa{
        background-color: #D44727;
    }

    .indica{
        background-color: #6E335E;
    }

    .icon h1{
        text-align: center;
        font-size: 70px;
        font-weight: 900;
        line-height: 65px;
    }
    .icon p:first-child{
        font-weight: normal;
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
    }
    .icon p:last-child{
        text-align: right;
        padding-right: 10px;
        padding-top: 0px;
    }

    *{
        font-family: arial;
    }

    .strain{
        font-size: 16px;
    }
</style>

<div class="icon indica"> 
    <p class="strain">Hybrid</p> <!-- strain type, float left -->
    <h1>Bd</h1>
    <p class="strain">Blue Dream</p>   <!-- strain name, float right -->
</div>

